<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div th:fragment="footer">
		<nav class="navbar navbar-inverse navbar-fixed-bottom">
			<div class="container">
				<p class="navbar-text">
					<a href="http://www.daktic.com">RdvMedecins</a> &copy;
					<put-date th:text="${#dates.year(#dates.createNow())}"></put-date>
footer.
				</p>
			</div>
		</nav>
	</div>
	<div th:fragment="footer-admin">
		<nav class="navbar navbar-inverse navbar-fixed-bottom">
			<div class="container">
				<p class="navbar-text">
					<a href="http://www.daktic.com">RdvMedecins</a> &copy;
					<put-date th:text="${#dates.year(#dates.createNow())}"></put-date>
Admin Footer
				</p>
			</div>
		</nav>
	</div>
	
</body>
</html>